USE [StoreSample]
GO
/****** Object:  User [testuser]    Script Date: 10/03/2025 5:35:51 p. m. ******/
CREATE USER [testuser] FOR LOGIN [testuser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [testuser]
GO
ALTER ROLE [db_datareader] ADD MEMBER [testuser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [testuser]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 10/03/2025 5:35:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 10/03/2025 5:35:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmpID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 10/03/2025 5:35:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Qty] [int] NOT NULL,
	[Discount] [decimal](4, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10/03/2025 5:35:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[EmpID] [int] NOT NULL,
	[ShipperID] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[RequiredDate] [datetime] NULL,
	[ShippedDate] [datetime] NULL,
	[ShipName] [varchar](100) NULL,
	[ShipAddress] [varchar](200) NULL,
	[ShipCity] [varchar](100) NULL,
	[Freight] [decimal](18, 2) NULL,
	[ShipCountry] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10/03/2025 5:35:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shippers]    Script Date: 10/03/2025 5:35:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shippers](
	[ShipperID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShipperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Employees] FOREIGN KEY([EmpID])
REFERENCES [dbo].[Employees] ([EmpID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Employees]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Shippers] FOREIGN KEY([ShipperID])
REFERENCES [dbo].[Shippers] ([ShipperID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Shippers]
GO
/****** Object:  StoredProcedure [dbo].[ins_AddNewOrder]    Script Date: 10/03/2025 5:35:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ins_AddNewOrder]
    @CustomerID INT,
    @EmpID INT,
    @ShipperID INT,
    @ShipName VARCHAR(100),
    @ShipAddress VARCHAR(200),
    @ShipCity VARCHAR(100),
    @OrderDate DATETIME,
    @RequiredDate DATETIME,
    @ShippedDate DATETIME,
    @Freight DECIMAL(18,2),
    @ShipCountry VARCHAR(100),

    @ProductID INT,
    @UnitPrice DECIMAL(18,2),
    @Qty INT,
    @Discount DECIMAL(4,2)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Orders(
        CustomerID, EmpID, ShipperID, ShipName, ShipAddress, 
        ShipCity, OrderDate, RequiredDate, ShippedDate, Freight, ShipCountry
    )
    VALUES(
        @CustomerID, @EmpID, @ShipperID, @ShipName, @ShipAddress,
        @ShipCity, @OrderDate, @RequiredDate, @ShippedDate, @Freight, @ShipCountry
    );

    DECLARE @NewOrderID INT = SCOPE_IDENTITY();

    INSERT INTO OrderDetails(
        OrderID, ProductID, UnitPrice, Qty, Discount
    )
    VALUES(
        @NewOrderID, @ProductID, @UnitPrice, @Qty, @Discount
    );

    SELECT @NewOrderID AS NewOrderID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sel_GetClientOrders]    Script Date: 10/03/2025 5:35:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sel_GetClientOrders]
    @CustomerID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        O.OrderID,
        O.RequiredDate,
        O.ShippedDate,
        O.ShipName,
        O.ShipAddress,
        O.ShipCity
    FROM Orders O
    WHERE O.CustomerID = @CustomerID
    ORDER BY O.OrderDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sel_GetEmployees]    Script Date: 10/03/2025 5:35:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sel_GetEmployees]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        EmpID,
        (FirstName + ' ' + LastName) AS FullName
    FROM Employees
    ORDER BY LastName, FirstName;
END;
GO
/****** Object:  StoredProcedure [dbo].[sel_GetProducts]    Script Date: 10/03/2025 5:35:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sel_GetProducts]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ProductID,
        ProductName
    FROM Products
    ORDER BY ProductName;
END;
GO
/****** Object:  StoredProcedure [dbo].[sel_GetSalesDatePrediction]    Script Date: 10/03/2025 5:35:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sel_GetSalesDatePrediction]
AS
BEGIN
    SET NOCOUNT ON;

    /*
        Suponiendo que Orders ya tiene datos.
        Se calcula el promedio de días entre órdenes
        y se suma a la fecha de la última orden.
    */
    SELECT 
        C.CustomerName AS [CustomerName],
        MAX(O.OrderDate) AS [LastOrderDate],
        DATEADD(
            DAY, 
            AVG(DATEDIFF(DAY, LagO.OrderDate, O.OrderDate)), 
            MAX(O.OrderDate)
        ) AS [NextPredictedOrder]
    FROM Orders O
    INNER JOIN Customers C ON C.CustomerID = O.CustomerID
    LEFT JOIN Orders LagO 
        ON LagO.OrderID = (
            SELECT TOP 1 O2.OrderID
            FROM Orders O2
            WHERE O2.CustomerID = O.CustomerID
            AND O2.OrderDate < O.OrderDate
            ORDER BY O2.OrderDate DESC
        )
    GROUP BY C.CustomerID, C.CustomerName
    ORDER BY C.CustomerName;
END;
GO
/****** Object:  StoredProcedure [dbo].[sel_GetShippers]    Script Date: 10/03/2025 5:35:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sel_GetShippers]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ShipperID,
        CompanyName
    FROM Shippers
    ORDER BY CompanyName;
END;
GO
